apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: "ai-ws-{{ username }}"
  namespace: "{{ argocd_namespace }}"
  labels:
    app.kubernetes.io/part-of: ai-workspace
    ai-workspace/username: "{{ username }}"
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  project: "{{ argocd_project }}"
  source:
    repoURL: "{{ chart_repo_url }}"
    path: "{{ chart_repo_path }}"
    targetRevision: "{{ chart_target_revision }}"
    helm:
      values: |
        username: "{{ username }}"
        gitRepo: "{{ git_repo }}"
        aiModel:
          name: "{{ ai_model }}"
        editor:
          type: "{{ editor_type }}"
        devspacesNamespace: "{{ devspaces_namespace }}"
        modelServing:
          enabled: {{ enable_model_serving | lower }}
        editorDeployment:
          enabled: {{ enable_editor | lower }}
  destination:
    server: https://kubernetes.default.svc
    namespace: "{{ workspace_namespace }}"
  ignoreDifferences:
{% if editor_type == "workbench" %}
  - group: kubeflow.org
    kind: Notebook
    managedFieldsManagers:
    - notebook-controller
    - odh-notebook-controller
    jsonPointers:
    - /metadata/annotations/notebooks.kubeflow.org~1last-activity
    - /metadata/annotations/notebooks.kubeflow.org~1last_activity_check_timestamp
    - /metadata/finalizers
    - /status
{% elif editor_type == "devspace" %}
  - group: workspace.devfile.io
    kind: DevWorkspace
    managedFieldsManagers:
    - devworkspace-controller-manager
    jsonPointers:
    - /metadata/annotations
    - /metadata/finalizers
    - /metadata/labels/controller.devfile.io~1creator
    - /spec/contributions
    - /spec/started
    - /spec/template/attributes/controller.devfile.io~1devworkspace-config
    - /spec/template/attributes/controller.devfile.io~1scc
    - /status
{% endif %}
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    retry:
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
      limit: 5
    syncOptions:
    - CreateNamespace=true
    - PrunePropagationPolicy=foreground
    - PruneLast=true
    - RespectIgnoreDifferences=true
    - ServerSideApply=true
